* {
    padding: 0;
    margin: 0;
    font-family: "Oleo Script", serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    padding: 50px;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-one__contact{
    text-decoration: none;
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    color: white;
    margin-top: 10px;
}
.section-one__name{
    font-size: 60px ;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-two,.section-three,.section-four,.section-five {
margin-top: 20px;
}
.section-two__details,.section-three__lists,.section-four__lists,.section-five__end {
    margin-top: 10px;
}
.section-five{
    background: linear-gradient(to right, #e6dada, #274046);
    padding: 20px;
}
.section-five__media a {
    color: #616161;
}
.section-three li, .section-four li{
    list-style: none;
}
.section-three{
    background-color: #75E6DA;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.section-four{
    background-color: #ec9ec0;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.contact-form {
    margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    border: none;
    padding: 10px;
    border-bottom: solid #05445e 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: solid #05445e 1px;
}
.contact-form__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid #05445e 1px;
    background-color: gray;
    color: white;
}